* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0e17;
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.saklar {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.saklar input {
  opacity: 0;
  width: 0;
  height: 0;
}

.penggeser {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b0b0b0;
  border: 1px solid #b0b0b0;
  transition: 0.4s;
  border-radius: 32px;
  outline: none;
}

.penggeser:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  outline: 2px solid #b0b0b0;
  left: -1px;
  bottom: -1px;
  background-color: #fff;
  transition: transform 0.25s ease-in-out 0s;
}

.penggeser-ikon {
  opacity: 0;
  height: 12px;
  width: 12px;
  stroke-width: 8;
  position: absolute;
  z-index: 999;
  stroke: #222222;
  right: 60%;
  top: 30%;
  transition: right ease-in-out 0.3s, opacity ease-in-out 0.15s;
}

input:checked + .penggeser {
  background-color: #222222;
}

input:checked + .penggeser .penggeser-ikon {
  opacity: 1;
  right: 20%;
}

input:checked + .penggeser:before {
  transform: translateX(1.5em);
  outline-color: #181818;
}
